<ion-header>
  <ion-navbar color="asphalt">
    <button ion-button menuToggle (click)="addClass()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <img height="26px" src="../assets/imgs/Korzina1.png" alt="">
      </button>
      <div *ngIf="count!=0" class="itemOfCarts">
        <div>{{count}}</div>
      </div>
    </ion-buttons>
    <ion-title>IRON ADDICTS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3>{{name}}</h3>
  <ion-list class="categories" no-lines>
    <ion-item *ngFor="let item of subcategories | async" class="item-category animation" no-padding (click)="pushToPage(item.subcategory_id, item.subcategory_name)">
      <div style="height: 100%; position: relative;">
        <div class="rectangle"></div>
        <div class="itemNames">{{item.subcategory_name}}</div>
        <div class="trapezoid" style="display:inline-block;"></div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
