<ion-header>
  <ion-navbar color="asphalt">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <img height="26px" src="../assets/imgs/Korzina1.png" alt="">
      </button>
      <div *ngIf="count!=0" class="itemOfCarts">
        <div>{{count}}</div>
      </div>
    </ion-buttons>
    <ion-title>IRON ADDICTS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h3>{{name}}</h3>
  <ion-list class="categories" no-lines>
    <ion-item class="itemsList" *ngFor="let item of products | async" no-padding (click)="pushToPage(item)">
      <div style="height: 100%;">
        <img class="item-small-img" [src]="item.product_img" alt="">
        <div class="itemName">{{item.product_name}} | {{item.massa}}</div>
        <div class="parallelogram">
          <p *ngIf="item.count > 0">{{item.product_price | number: "1.0-0"}} тнг</p>
          <p *ngIf="item.count == 0">нет в наличии</p>
        </div>
        <div class="buttonAdd" (click)="addToCart(item);$event.stopPropagation();">
          <p>+</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
