<ion-header>
  <ion-navbar color="asphalt">
    <button ion-button menuToggle (click)="addClass()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <img height="26px" src="../assets/imgs/Korzina1.png" alt="">
      </button>
      <div *ngIf="count!=0" class="itemOfCarts">
        <div>{{count}}</div>
      </div>
    </ion-buttons>
    <ion-title>IRON ADDICTS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3>Промокоды</h3>
  <ion-list class="categories" no-lines>
    <ion-item-sliding *ngFor="let item of promocodes" no-padding (click)="pushToPage(item)">
      <ion-item class="item-category" style="">
        <div style="height: 100%;position: relative; padding-top: 6px;">
          <div class="rectangle"></div>
          <div class="itemNames" style="width: 20%;">{{item.promocode}}</div>
          <div style="display: inline-block; float: right; margin-right: 20px;" *ngIf="item.prodazha_code != 0">
            <span style="color: green;">активирован</span></div>
          <div style="display: inline-block; float: right; margin-right: 20px;" *ngIf="item.prodazha_code == 0">
            <span style="color: #ff0000;">неактивирован</span></div>
        </div>
      </ion-item>
      <ion-item-options>
        <button ion-button style="height: 44px; background-color: #ff0000;" (click)="deletePromocode(item.id);$event.stopPropagation();"><ion-icon name="trash" style="color:#fff;"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-footer style="width: 100%; height: 7%;" no-padding>
  <div class="gradient" style="width: 100%; display: inline-block; height: 100%; text-align: center"
       (click)="generatePromocode()">
    <div style="color: white; margin-top: 4%;">Сгенерировать промокод</div>
  </div>
</ion-footer>
