<ion-header>
  <ion-navbar color="asphalt">
    <button ion-button menuToggle (click)="addClass()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <img height="26px" src="../assets/imgs/Korzina1.png" alt="">
      </button>
      <div *ngIf="count!=0" class="itemOfCarts">
        <div>{{count}}</div>
      </div>
    </ion-buttons>
    <ion-title>IRON ADDICTS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ng-container *ngIf="item.video == ''">
      <img class="item-info-img" [src]="'http://iron.controlsoft.kz/' + item.img" alt="">
    </ng-container>
    <h3>{{item.name}}</h3>
    <ng-container *ngIf="item.video != ''">
      <div class="spinner" id="loading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div #frame [innerHtml]="video" id="video-container" style="text-align: center; display: none" class="iframeDiv"></div>
    </ng-container>
    <p class="item-info-description" style="    position: absolute;
    margin-top: 3%;">{{item.text}}</p>

</ion-content>
