<ion-header>
  <ion-navbar color="asphalt">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <img height="26px" src="../assets/imgs/Korzina1.png" alt="">
      </button>
      <div *ngIf="count!=0" class="itemOfCarts">
        <div>{{count}}</div>
      </div>
    </ion-buttons>
    <ion-title>IRON ADDICTS</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <img class="item-info-img" [src]="product.product_img" alt="" imageViewer>
  <h5 class="item-info-name">{{product.product_name}} | {{product.massa}}</h5>

  <div class="item-info-block">
    <div *ngIf="product.count > 0" class="item-info-button-text">{{product.product_price | number : "1.0-0"}} ТЕНГЕ
    </div>
    <div *ngIf="product.count == 0" class="item-info-button-text">НЕТ В НАЛИЧИИ</div>
  </div>
  <div class="item-info-to-cart">
    <div class="item-info-button-text" (click)="addToCart(product)">В КОРЗИНУ</div>
  </div>
  <ion-list radio-group [(ngModel)]="vkus" no-lines *ngIf="!isEmptyTaste" style="margin-top: 5%;">
    <ng-container *ngFor="let item of product_vkus">
      <ion-item *ngIf="item.product_count > 0">
        <ion-label>{{item.product_vkus}} ({{item.product_count}})</ion-label>
        <ion-radio color="iron_add" [value]="item.product_id"></ion-radio>
      </ion-item>
    </ng-container>
  </ion-list>
  <h5 style="padding-left: 4%">ОПИСАНИЕ:</h5>
  <p class="item-info-description" [innerHtml]="description"></p>
  <h5 *ngIf="product_count > 0" style="padding-left: 4%">ДОСТУПНЫЕ ВКУСЫ:</h5>

</ion-content>
