<ion-header>
  <ion-navbar color="asphalt">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <img height="26px" src="../assets/imgs/Korzina1.png" alt="">
      </button>
      <div *ngIf="count != 0"class="itemOfCarts">
        <div>{{count}}</div>
      </div>
    </ion-buttons>
    <ion-title>IRON ADDICTS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h3>Новости</h3>
  <ion-list class="categories" no-lines>
    <ion-item class="item-news" *ngFor="let item of requestData" no-padding (click)="pushToPage(item)">
        <img class="news-small-img" [src]="item.img" alt="">
      <div class="new-title">{{item.name}}</div>
      <div class="date">{{item.date}}</div>
    </ion-item>
  </ion-list>
</ion-content>
